<div class="container">

  <div class="col-md-4"></div>

  <div class="col-md-4" style="margin-top: 50px;">
    <a href="/" class="title">
      <h1 style="font-family: 'Cookie', cursive; font-size: 130px" class="text-center">Recipist</h1>
    </a>
    <h2 style="font-family: 'Cookie', cursive; font-size: 35px" class="text-center">
      Recipe searching, by ingredient!
    </h2>
    </br>
    <%= render 'form' %>
  </div>

  <div class="col-md-4"></div>

</div>